<div id="<%= dom_id investment %>">
  <p>
    <strong>Portfolio:</strong>
    <%= investment.portfolio_id %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= investment.assigned_to_id %>
  </p>

</div>
