


<div class="row">
  <div class="col-sm-6">
    <h1>Portfolios</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_portfolio_path, class: 'btn btn-primary' do %>
    Add New Portfolio
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            
      </tr>
    </thead>

    <tbody>
      <% @portfolios.each do |portfolio| %>
        <%= content_tag :tr, id: dom_id(portfolio), class: dom_class(portfolio) do %>
          
            <td><%= link_to portfolio.name, portfolio %></td>
          

          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
